.App {
  text-align: center;
}
body {
  color: darkred;
  background-color: black;

}

h2 {text-align: center;
}

p {
  /* text-align: center; */
  padding-left: 10px; padding-right: 10px;}

.start-quiz-button {
  display: block;
  margin: 0 auto;
  background: linear-gradient(to bottom right, red, darkred);
}

.newquestion {
  padding-left: 15px;
  /* margin-top: 10px;
  padding-top: 15px; */
}

input {
  margin: 10px;
  background: linear-gradient(to bottom right, red, darkred);

}

select {
  margin: 10px;
  background: linear-gradient(to bottom right, red, darkred);

}

textarea {
  margin: 10px;
  background: linear-gradient(to bottom right, red, darkred);

}

img {margin: 40px;}

.profile {text-align: left; padding-left: 15px;}

.quiz {
  padding-left: 20px;
  margin-left: 15px;  
}

.quiz button {
  background: linear-gradient(to bottom right, red, darkred);
}


button {margin: 10px;
  background: linear-gradient(to bottom right, red, darkred);
}

.nav-button {
  background: linear-gradient(to bottom right, red, darkred);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  color: black;
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 3px 3px;
  font-size: 16px;
}

.nav-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.nav-active {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.nav-active.active {
  opacity: 1;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.spinner {
  animation-name: spinner;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin:hover {
  transform: rotateY(180deg);
} */
